/* Front Page styles */

/*centering award images*/
#block-bean-front-page-lower-image p {
  text-align: center;
}

/* constraining image size and centering club icons */
#block-bean-club-menu-logos-front-page {
  margin: 0 auto;
   width: 70%;
}

/* Bake Club Front Page layout */

.page-node-56 #block-block-4, .page-node-56 #block-block-3, .page-node-56 #block-views-local-events-block {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.page-node-56 #block-block-4 {
  width: 50%;

}

.page-node-56 #block-block-3 {
  width: 22%;
}

.page-node-56 #block-views-local-events-block {
  width: 27%;
}

.ext-price, .unit-price, .views-align-right {
  text-align: right;
  padding-right: 0.5em;
}

#edit-field-full-name, #edit-field-phone-number, #edit-field-email, #edit-field-date-picking-up {
  display: inline-block;
  padding: .5em;
}

.action-links-field-collection-add {
  display: none;
}
